/******GLOBAL STYLES******/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(36, 100%, 99%);
    color: hsl(236, 13%, 42%);
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    justify-content: center;
}

.wrapper {
    max-width: 1500px;
    padding: 20px;
}

a {
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}

h1 {
    color: hsl(240, 100%, 5%);
    font-size: 2.5em;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.125em;
    font-weight: 700;
}

p {
    line-height: 1.5em;
}

img {
    width: 100%;
}

/*****HEADER STYLES*****/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;    
}

#nav-content {
    background-color: hsl(36, 100%, 99%);
    height: 100%;
    padding: 15px;
    position: fixed;
    width: 60%;
}

nav figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 40px;
    width: 100%;
}

nav img {
    width: 10%;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a.hover {
    color: hsl(35, 77%, 62%);
}

.mobile {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 20px;   
}

/****#POPULAR STYLES*******/
#popular h1 {
    padding: 20px 0 15px;
}

#popular button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    letter-spacing: 0.35em;
    margin: 20px 0;
    padding: 15px 30px;
    text-transform: uppercase;
}

#popular button.button-click {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

/******#NEW STYLES*****/
#new {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    margin: 40px 0;
    padding: 25px 20px;
}

#new h2 {
    color: hsl(35, 77%, 62%);
    padding-bottom: 10px;
}

.new-story {
    padding: 30px 0;
}

#new h3 {
    padding-bottom: 10px;
}

#new a {
    color: hsl(36, 100%, 99%);
}

#new a.hover {
    color: hsl(35, 77%, 62%);
}


/******#TRENDING STYLES*******/
#trending {
    margin: 75px 0;
}

.trend-story {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.trend-story figure {
    padding: 15px 15px 15px 0;
    width: 33.333%;
}

.trend-story .text {
    padding: 15px 0 15px 15px;
    width: 66.666%;
}

.trend-story h2 {
    color: hsl(233, 8%, 79%);
    padding-bottom: 10px;
}

.trend-story h3 {
    color: hsl(240, 100%, 5%);
    padding-bottom: 10px;
}

.trend-story p {
    line-height: 1.75em;
}

.trend-story a {
    color: hsl(240, 100%, 5%);
}

.trend-story a.hover {
    color: hsl(5, 85%, 63%);
}

/***** FOOTER STYLES ******/
#attribution {
    font-size: 11px;
    text-align: center;
}

#attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: underline;
}

/********************* DESTOP SYTLES ************************/
@media (min-width: 1200px) {

    /******GLOBAL STYLES******/
    body {
        font-size: 18px;
    }

    .wrapper {
        padding: 100px;
    }

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*****HEADER STYLES*****/
    header {
        margin-bottom: 50px;
    }

    .mobile {
        order: 1;
        padding: 0;
    }

    .mobile .open {
        display: none;
    }

    nav {
        display: flex;
        order: 2;
        position: relative;
        width: 45%;
    }

    #nav-content {
        display: flex;
        flex-grow: 1;
        position: relative;
    }

    nav figure {
        display: none;
    }

    nav ul {
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    /****#POPULAR STYLES*******/
    #popular {
        width: 60%;
    }

    #popular img {
        content: url(images/image-web-3-desktop.jpg);
    }

    #popular .text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #popular h1 {
        padding-top: 30px;
        width: 50%;
    }

    #popular p {
        padding: 30px 0 0 30px;
        width: calc(50% - 30px);
    }

    #popular button {
        margin-top: 40px;
    }

    /******#NEW STYLES*****/
    #new {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 20px;
        width: 30%;
    }

    .new-story {
        padding: 0;
    }


    /******#TRENDING STYLES*******/
    #trending {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .trend-story {
        align-items: flex-start;
        width: 33%;
    }

    .trend-story figure {
        padding: 0 20px 0 0;
    }

    .trend-story .text {
        padding: 0;
    }

    .story-2 {
        margin: 0 30px;
    }

}